doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        title Basic Frontend boilerplate
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    body
        H1 Basic Frontend boilerplate
        p Needs more work
        img(src='https://media.giphy.com/media/dlMIwDQAxXn1K/giphy.gif')
